* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}

:root {
  --padding: 1.4em 5em;
  --primaryColor: #ffb703;
  
}

nav {
  background-color: var(--primaryColor);
  padding: var(--padding);
  display: flex;
  color: #fff;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 70px;
}

#container {
  padding: var(--padding);
}